<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="tech.mainCode.dao.IPostMapper">

    
    <select id="getParentPostList" resultType="PostInfo">
        SELECT
            `id` as "id",
            `content` as "content",
            `date` as "date",
            `userid` as "userid",
            `thumbup` as "thumbup",
            `type` as "type"
        FROM `tb_bbs`
        WHERE RIGHT(`id`, 4) = '0000'
    </select>
    <select id="getChildPostList" parameterType="String" resultType="PostInfo">
        SELECT
            `id` as "id",
            `content` as "content",
            `date` as "date",
            `userid` as "userid",
            `thumbup` as "thumbup",
            `type` as "type"
        FROM `tb_bbs`
        WHERE LEFT(`id`, 3) = LEFT(#{postId}, 3)
          AND `id` != #{postId}
    </select>
    <select id="getPostById" parameterType="String" resultType="PostInfo">
        SELECT
            `id` as "id",
            `content` as "content",
            `date` as "date",
            `userid` as "userid",
            `thumbup` as "thumbup",
            `type` as "type"
        FROM `tb_bbs`
        WHERE `id` = #{postId}
    </select>
    <select id="getMaxPostid" resultType="Integer">
        SELECT COALESCE(MAX(CAST(SUBSTRING(`id`, 1, 3) AS UNSIGNED)), 0)
        FROM `tb_bbs`
        WHERE RIGHT(`id`, 4) = '0000'
    </select>

    <insert id="insertNewPost" parameterType="PostInfo" >
        INSERT INTO `tb_bbs` (`id`, `content`, `date`, `userid`,`thumbup`,`type`)
        VALUES (#{id}, #{content}, #{date}, #{userid},0,#{type})
    </insert>

    <select id="getMaxReplyPostid" parameterType="String" resultType="Integer">
        SELECT COALESCE(MAX(CAST(RIGHT(`id`, 4) AS UNSIGNED)), 0)
        FROM `tb_bbs`
        WHERE LEFT(`id`, 3) = LEFT(#{postId}, 3)
    </select>

    <insert id ="insertReplyPost" parameterType="PostInfo">
        INSERT INTO `tb_bbs` (`id`, `content`, `date`, `userid`, `thumbup`,`type`)
        VALUES (#{id}, #{content}, #{date}, #{userid},0,null)
    </insert>

    <delete id="deletePost" parameterType="String">
        DELETE FROM `tb_bbs`
        WHERE LEFT(`id`, 3) = LEFT(#{postId}, 3)
    </delete>
    <delete id="deleteReply" parameterType="String">
        DELETE FROM `tb_bbs`
        WHERE `id` = #{postId}
    </delete>

<!--    <select id="getMyPostList" parameterType="String" resultType="PostInfo">-->
<!--        SELECT-->
<!--            `id` as "id",-->
<!--            `content` as "content",-->
<!--            `date` as "date",-->
<!--            `userid` as "userid"-->
<!--        FROM `tb_bbs`-->
<!--        WHERE `userid` = #{userId}-->
<!--    </select>-->
    <update id="updateThumbup">
        UPDATE tb_bbs
        SET thumbup = #{thumbup}
        WHERE `id` = #{postId}

    </update>
    <select id ="getTop3Post" resultType="PostInfo">
        SELECT `id`, `content`, `date`, `userid`, `thumbup`, `type`
        FROM `tb_bbs`
        ORDER BY `thumbup` DESC
        LIMIT 3

    </select>
</mapper>
